<%= form.hidden_field :name %>
<%= form.hidden_field :postcode %>
<%= form.hidden_field :location_code %>
<%= form.hidden_field :notify_by_email %>
<%= form.hidden_field :privacy_notice %>

<%= form_row for: [signature, :email] do %>
  <div class="field">
    <%= form.text_field :email, inputmode: "email", placeholder: " " %>
    <%= form.label :email, t(:"ui.petitions.create.creator_stage.email.label") %>
  </div>
  <%= error_messages_for_field signature, :email %>
<% end %>

<p><%= t(:"ui.signatures.confirm.email_form.fix_email_if_wrong") %></p>

<div class="button-group">
  <div>
   <%= t(:"ui.signatures.confirm.email_form.submit_html") %>
  </div>
</div>
