<div class="petition-content">
  <%= content_tag :h1, id: id do %>
    <% if petition.open? %>
      <span class="heading-secondary"><%= t(:"ui.petitions.heading_open")%></span>
    <% elsif petition.rejected? %>
      <span class="heading-secondary"><%= t(:"ui.petitions.heading_rejected") %></span>
    <% else %>
      <% if petition.completed? %>
        <span class="heading-secondary"><%= t(:"ui.petitions.heading_completed") %></span>
      <% else %>
        <span class="heading-secondary"><%= t(:"ui.petitions.heading_closed") %></span>
      <% end %>
    <% end %>
    <%= petition.to_param %>: <%= petition.action %>
  <% end %>

  <% if petition.background? %>
    <div class="background">
      <%= apply_formatting(petition, :background) %>
    </div>
  <% end %>
  <% if petition.previous_action? %>
    <div class="previous-action">
      <h3><%= t(:"ui.petitions.previous_action.heading") %></h3>
      <%= apply_formatting(petition, :previous_action) %>
    </div>
  <% end %>
  <% if petition.additional_details? %>
    <div class="additional-details">
      <h3><%= t(:"ui.petitions.additional_details.heading") %></h3>
      <%= apply_formatting(petition, :additional_details) %>
    </div>
  <% end %>
</div>
