<section aria-labelledby="page-heading">
  <p>
    <%= link_to check_petitions_path(q: @new_petition.action), class: "back-page" do %>
      <%= t(:"ui.petitions.check.results.back") %>
    <% end %>
  </p>

  <% if petitions = @new_petition.duplicates %>

    <h1 id="page-heading"><%= t(:"ui.petitions.check.results.duplicate.heading") %></h1>
    <p><%= t(:"ui.petitions.check.results.duplicate.sign_if_match") %></p>
    <%= render 'notification', message: t(:"ui.petitions.check.results.duplicate.reject_notice") %>

    <ul class="duplicate-petitions">
      <% petitions.each do |petition| %>
        <li>
          <%= link_to petition_path(petition) do %>
            <h2><%= petition.action %></h2>
            <p><%= petition.background %></p>
            <% if petition.open? %>
              <p><%= t(:"ui.petitions.check.results.duplicate.petition.open", date: short_date_format(petition.closed_at)) %></p>
            <% elsif petition.completed? %>
              <p><%= t(:"ui.petitions.check.results.duplicate.petition.completed", date: short_date_format(petition.completed_at)) %></p>
            <% elsif petition.closed? %>
              <p><%= t(:"ui.petitions.check.results.duplicate.petition.referred", date: short_date_format(petition.closed_at)) %></p>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>

    <%= link_to(new_petition_path(q: @new_petition.action), class: "button") do %>
      <%= t(:"ui.petitions.check.results.duplicate.continue_btn") %>
    <% end %>

  <% else %>

    <h1 class="page-title"><%= t(:"ui.petitions.check.results.unique.heading") %></h1>
    <p><%= t(:"ui.petitions.check.results.unique.no_match") %></p>
    <p><%= t(:"ui.petitions.check.results.unique.ok_to_continue") %><br /></p>

    <%= link_to(new_petition_path(q: @new_petition.action), class: "button") do %>
      <%= t(:"ui.petitions.check.results.unique.continue") %>
    <% end %>

  <% end %>
</section>
