<p><%= t(:"ui.application.back_html") %></p>

<%= form.hidden_field :action %>
<%= form.hidden_field :background %>
<%= form.hidden_field :previous_action %>
<%= form.hidden_field :additional_details %>
<%= form.hidden_field :autocorrect_domain, value: "1" %>
<%= form.hidden_field :collect_signatures %>

<h1 id="page-heading"><%= t(:"ui.petitions.create.creator_stage.heading") %></h1>

<h2><%= petition.action %></h2>

<hr>

<%= render "petitions/create/error_summary", form: form %>

<%= form_row for: [petition, :name] do %>
  <div class="field">
    <%= form.text_field :name, maxlength: 255, placeholder: " " %>
    <%= form.label :name, t(:"ui.petitions.create.creator_stage.name.label"), class: "form-label" %>
  </div>
  <%= error_messages_for_field petition, :name %>
  <p><%= t(:"ui.petitions.create.creator_stage.name.hint") %></p>
<% end %>

<%= form_row for: [petition, :email] do %>
  <div class="field">
    <%= form.text_field :email, inputmode: "email", placeholder: " " %>
    <%= form.label :email, t(:"ui.petitions.create.creator_stage.email.label"), class: "form-label" %>
  </div>
  <%= error_messages_for_field petition, :email %>
<% end %>

<%= form_row for: [petition, :phone_number] do %>
  <div class="field">
    <%= form.text_field :phone_number, inputmode: "tel", placeholder: " " %>
    <%= form.label :phone_number, t(:"ui.petitions.create.creator_stage.phone_number.label"), class: "form-label" %>
  </div>
  <%= error_messages_for_field petition, :phone_number %>
<% end %>

<%= form_row for: [petition, :location_code] do %>
  <div class="field">
    <%= form.select :location_code, countries_for_create %>
    <%= form.label :location_code, t(:"ui.petitions.create.creator_stage.location.label"), class: "form-label" %>
  </div>
  <%= error_messages_for_field petition, :location_code %>
  <p><%= t(:"ui.petitions.create.creator_stage.location.hint") %></p>
<% end %>

<%= form_row for: [petition, :address] do %>
  <div class="field">
    <%= form.text_area :address, rows: 4, data: { max_length: 500 }, placeholder: " " %>
    <p class="character-count"><%= t(:"ui.application.character_count", count: 500) %></p>
    <%= form.label :address, t(:"ui.petitions.create.creator_stage.address.label"), class: "form-label" %>
  </div>
  <%= error_messages_for_field petition, :address %>
  <p><%= t(:"ui.petitions.create.creator_stage.address.hint") %></p>
  </div>
<% end %>

<%= form_row for: [petition, :postcode] do %>
  <div class="field w-50">
    <%= form.text_field :postcode, placeholder: " " %>
    <%= form.label :postcode, t(:"ui.petitions.create.creator_stage.postcode.label"), class: "form-label" %>
  </div>
  <%= error_messages_for_field petition, :postcode %>
<% end %>

<%= form_row for: [petition, :privacy_notice] do %>
  <div class="multiple-choice">
    <%= form.check_box :privacy_notice %>
    <%= form.label :privacy_notice, t(:"ui.petitions.create.creator_stage.privacy_notice.label").try(:html_safe), class: "privacy-notice" %>
  </div>
  <%= error_messages_for_field petition, :privacy_notice %>
<% end %>

<div class="button-group">
  <%= t(:"ui.petitions.create.creator_stage.continue_html") %>
</div>

<hr>

<%= t(:"ui.petitions.create.creator_stage.about_published_data_html") %>
