<p><%= t(:"ui.application.back_html") %></p>

<%= form.hidden_field :action %>
<%= form.hidden_field :background %>
<%= form.hidden_field :previous_action %>
<%= form.hidden_field :additional_details %>

<h1 id="page-heading"><%= t(:"ui.petitions.create.replay_petition_stage.heading") %></h1>

<div class="preview-petition">
  <h2 class="action"><%= petition.action %></h2>
  <div class="background">
    <%= auto_link(simple_format(h(petition.summary)), html: { rel: "nofollow" }) %>
  </div>
  <div class="previous-action">
    <h3><%= t(:"ui.petitions.previous_action.heading") %></h3>
    <%= auto_link(simple_format(h(petition.previous_action)), html: { rel: "nofollow" }) %>
  </div>
  <div class="additional-details">
    <h3><%= t(:"ui.petitions.additional_details.heading") %></h3>
    <%= auto_link(simple_format(h(petition.additional_details)), html: { rel: "nofollow" }) %>
  </div>
</div>

<div class="button-group">
  <div><%= t(:"ui.petitions.create.replay_petition_stage.go_back_html") %></div>
  <div><%= t(:"ui.petitions.create.replay_petition_stage.submit_html") %></div>
</div>

<hr>

<div>
  <%= t(:"ui.petitions.create.replay_petition_stage.submit_warning_html") %>
</div>
