<p><%= t(:"ui.application.back_html") %></p>

<%= form.hidden_field :action %>
<%= form.hidden_field :background %>
<%= form.hidden_field :previous_action %>
<%= form.hidden_field :additional_details %>

<h1 id="page-heading"><%= t(:"ui.petitions.create.collect_signatures_stage.heading") %></h1>

<%= t(:"ui.petitions.create.collect_signatures_stage.help_html") %>

<%= render "petitions/create/error_summary", form: form %>

<%= form_row for: [petition, :collect_signatures] do %>
  <div class="multiple-choice">
    <%= form.radio_button :collect_signatures, false %>
    <%= form.label :collect_signatures_false, t(:"ui.petitions.create.collect_signatures_stage.label.false"), for: "petition_creator_collect_signatures_false" %>
  </div>

  <div class="multiple-choice">
    <%= form.radio_button :collect_signatures, true %>
    <%= form.label :collect_signatures_true, t(:"ui.petitions.create.collect_signatures_stage.label.true"), for: "petition_creator_collect_signatures_true" %>
  </div>
<% end %>

<div class="button-group">
  <div><%= t(:"ui.petitions.create.collect_signatures_stage.submit_html") %></div>
</div>
