<% explanation_petitions do |actioned| %>
  <section aria-labelledby="referral-threshold-heading" id="petitions-referred">
    <% unless Site.disable_thresholds_and_debates? %>
      <% if actioned[:referred][:count].zero? %>
        <div class="threshold-panel threshold-panel-referral">
          <h2 id="referral-threshold-heading" data-threshold="<%= Site.formatted_threshold_for_referral %>"><%= t(:"ui.home_page.thresholds.referred", formatted_count: Site.formatted_threshold_for_referral) %></h2>
        </div>
      <% else %>
        <%= link_to(petitions_path(state: :referred), class: "threshold-panel threshold-panel-referral" ) do %>
          <h2 id="referral-threshold-heading" data-threshold="<%= Site.formatted_threshold_for_referral %>"><%= t(:"ui.home_page.thresholds.referred", formatted_count: Site.formatted_threshold_for_referral) %></h2>
        <% end %>
      <% end %>
    <% end %>
    <%= render "pages/home/referred_petitions", actioned: actioned %>
  </section>

  <% unless Site.disable_thresholds_and_debates? %>
    <section aria-labelledby="debate-threshold-heading" id="petitions-with-debated-outcome">
      <% if actioned[:with_debated_outcome][:count].zero? %>
        <div class="threshold-panel threshold-panel-debate">
          <h2 id="debate-threshold-heading" data-threshold="<%= Site.formatted_threshold_for_debate %>"><%= t(:"ui.home_page.thresholds.debate", formatted_count: Site.formatted_threshold_for_debate) %></h2>
        </div>
      <% else %>
        <%= link_to(petitions_path(state: :debated), class: "threshold-panel threshold-panel-debate" ) do %>
          <h2 id="debate-threshold-heading" data-threshold="<%= Site.formatted_threshold_for_debate %>"><%= t(:"ui.home_page.thresholds.debate", formatted_count: Site.formatted_threshold_for_debate) %></h2>
        <% end %>
      <% end %>
      <%= render "pages/home/debated_petitions", actioned: actioned %>
    </section>
  <% end %>
<% end %>
