<%= link_to petition_path(petition) do %>
  <h2><%= petition.action %></h2>
  <% case petition.state %>
  <% when "closed" %>
    <p><%= t(:"ui.petitions.search.results.items.facet_all.closed") %></p>
  <% when "completed" %>
    <p><%= t(:"ui.petitions.search.results.items.facet_all.completed", date: short_date_format(petition.completed_at)) %></p>
  <% when "rejected" %>
    <p><%= t(:"ui.petitions.search.results.items.facet_all.rejected") %></p>
  <% end %>
<% end %>
