<h2><%= link_to petition.action, petition_path(petition) %></h2>
<% case petition.state %>
<% when "open" %>
  <% if petition.collect_signatures? %>
    <span><%= t('ui.petitions.search.results.items.facet_collecting_signatures.until', date: short_date_format(petition.closed_at)) %></span>
  <% end %>
<% when "closed" %>
  <p><%= t(:"ui.petitions.search.results.items.facet_all.referred", date: short_date_format(petition.closed_at)) %></p>
<% when "completed" %>
  <p><%= t(:"ui.petitions.search.results.items.facet_all.completed", date: short_date_format(petition.completed_at)) %></p>
<% when "rejected" %>
  <p><%= t(:"ui.petitions.search.results.items.facet_all.rejected") %></p>
<% end %>
