<%= back_link %>

<h1><%= @petition.action %></h1>

<% if @petition.committee_note? %>
  <div class="committee-note">
    <%= markdown_to_html(@petition.committee_note) %>
  </div>
<% end %>

<div class="petition-content">
  <% if @petition.background? %>
    <%= apply_formatting(@petition, :background) %>
  <% end %>

  <% if @petition.in_todo_list? %>
    <% if @petition.previous_action? %>
      <h2>Previous action</h2>
      <%= apply_formatting(@petition, :previous_action) %>
    <% end %>

    <% if @petition.additional_details? %>
      <h2>Background information</h2>
      <%= apply_formatting(@petition, :additional_details) %>
    <% end %>
  <% else %>
    <% if @petition.additional_details? %>
      <details>
        <summary><span>More details</span></summary>

        <% if @petition.previous_action? %>
          <h2>Previous action</h2>
          <%= apply_formatting(@petition, :previous_action) %>
        <% end %>

        <% if @petition.additional_details? %>
          <h2>Background information</h2>
          <%= apply_formatting(@petition, :additional_details) %>
        <% end %>
      </details>
    <% end %>
  <% end %>
</div>

<p class="edit-petition-link">
  Edit petition:
  <%= link_to 'English', admin_petition_details_path(@petition, locale: "en-GB") %> |
  <%= link_to 'Gaelic', admin_petition_details_path(@petition, locale: "gd-GB") %>

  <% if Site.disable_gaelic_website? %>
    <% if @petition.gaelic_translated? %>
      <%= button_to 'Remove Gaelic petition content', admin_petition_content_path(@petition), method: :delete, class: 'button button-warning', data: { confirm: 'Are you sure? This will remove any content in the Gaelic fields.'} %>
    <% else %>
      <%= button_to 'Copy content to Gaelic petition', admin_petition_content_path(@petition), method: :post, class: 'button', data: { confirm: 'Are you sure? This will copy the content in the English fields over any content in the Gaelic fields.'} %>
    <% end %>
  <% end %>
</p>

<% if @petition.rejected? or @petition.hidden? -%>
  <h2>This petition was rejected</h2>
  <p><%= rejection_reason(@petition.rejection.code) %></p>

  <% if @petition.rejection.details? %>
    <%= markdown_to_html(@petition.rejection.details) %>
  <% end %>
<% end -%>
