<%= cache_for :home_page do %>
  <h1 class="visually-hidden"><%= t(:"ui.home_page.heading") %></h1>

  <% if no_petitions_yet? %>
    <section aria-labelledby="petitions-opened-heading">
      <h2 id="petitions-opened-heading"><%= t(:"ui.home_page.opened.lede") %></h2>
    </section>
  <% end %>

  <% unless no_petitions_yet? %>
    <%= render "pages/home/search_petitions", search_path: petitions_path %>
    <%= render "pages/home/trending_petitions" %>
  <% end %>

  <%= render "pages/home/explanation_petitions" %>

  <% unless no_petitions_yet? || Site.disable_local_petitions? %>
    <%= render "pages/home/local_petitions" %>
  <% end %>

  <section aria-labelledby="start-a-petition-heading">
    <h2 id="start-a-petition-heading"><%= t(:"ui.home_page.opened.start_a_petition.heading") %></h2>
    <p><%= t(:"ui.home_page.opened.start_a_petition.requirements") %></p>
    <p>
      <%= link_to check_petitions_path, class: "forward-page" do %>
        <%= t(:"ui.home_page.opened.start_a_petition.link") %>
      <% end %>
    </p>
  </section>
<% end %>
