<section aria-labelledby="page-heading">
  <h1 id="page-heading"><%= t(:"ui.feedback.thanks.heading") %></h1>

  <%= render 'messages' %>

  <%= t(:"ui.feedback.thanks.body_html") %>

  <p>
    <%= link_to home_path, class: 'forward' do %>
      <svg class="svg-icon" aria-hidden="true"><use xlink:href="#svg--arrow-circle-right"></use></svg>
      <span><%= t(:"ui.feedback.thanks.back_link") %></span>
    <% end %>
  </p>
</section>
